h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.7;
  font-size: 14px;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.footer__logo, .header__logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .footer__logo, .header__logo {
    font-size: 26px;
  }
}

.follow__btn, .form__btn, .hero__btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.follow__btn:hover, .form__btn:hover, .hero__btn:hover, .follow__btn:focus, .form__btn:focus, .hero__btn:focus {
  background-color: #188ce8;
}

.filter__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__logo-span {
  color: #212121;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .main-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menu-btn {
  display: none;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
  border: none;
  color: #212121;
}
.menu-btn:hover, .menu-btn:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .menu-btn {
    display: block;
  }
}

.menu-icons {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.menu-container .menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 48px 15px 48px 40px;
    display: none;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    margin-left: 93px;
  }
}

.main-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .main-nav__item {
    position: relative;
  }
  .main-nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.main-nav__link {
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .main-nav__link {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav__link {
    padding: 32px 0;
  }
}
.main-nav__link:focus, .main-nav__link:hover {
  color: #2196f3;
}

.current {
  color: #2196f3;
}
.current::after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}
@media screen and (max-width: 767px) {
  .current {
    color: currentColor;
  }
}

.header__auth-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__auth-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
    position: absolute;
    bottom: 134px;
  }
}
@media screen and (min-width: 768px) {
  .header__auth-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .header__auth-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 315px;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .header__icon {
    display: none;
  }
}

.header__phone-icon {
  width: 10px;
  height: 16px;
}

.header__mail-icon {
  width: 16px;
  height: 12px;
}

.header__auth-item .header__link {
  color: #757575;
}
@media screen and (max-width: 767px) {
  .header__auth-item .header__link {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .header__auth-item + .header__auth-item {
    margin-bottom: 32px;
  }
  .header__auth-item + .header__auth-item .header__link {
    font-size: 34px;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .header__auth-item + .header__auth-item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__auth-item + .header__auth-item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.header__link {
  color: #757575;
}
@media screen and (min-width: 768px) {
  .header__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding: 32px 0;
  }
}

.menu__socials {
  position: absolute;
  bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__socials {
    display: none;
  }
}

.menu__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__socials-item:not(:last-child)::after {
  display: inline-block;
  content: "";
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

.menu__socials-link {
  font-size: 18px;
  line-height: 1.2;
  color: #2196f3;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .portfolio__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    width: 400px;
    margin-top: -15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-top: 15px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__overlay p {
  font-size: 18px;
  line-height: 1.6;
}
.card__link:hover .card__overlay, .card__link:focus .card__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
@media screen and (min-width: 768px) {
  .card__overlay {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card__overlay {
    padding: 63px 24px;
  }
}

.card__info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__desc {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.card__link {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero {
  max-width: 1600px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    line-height: 1.36;
    font-size: 44px;
  }
}

.hero__btn {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.feature__title {
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .feature__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.feature__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature__icon {
  height: 70px;
  width: 70px;
}

.feat___desc {
  color: #757575;
}

.team {
  background: #f5f4fa;
}
.team__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__worker {
  margin: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__worker {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__worker {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.worker__info {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .worker__info {
    padding-bottom: 30px;
  }
}

.worker__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.worker__position {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.worker__social__link {
  background-color: transparent;
  color: #afb1b8;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  color: #afb1b8;
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-transition: color #afb1b8 cubic-bezier(0.4, 0, 0.2, 1);
  transition: color #afb1b8 cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196f3;
}

.client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: #212121;
  background: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: #2196f3;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__title {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__item {
  display: block;
  margin-bottom: 10px;
}

.form__field {
  position: relative;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within {
  color: #2196f3;
}

.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__input {
  outline: none;
  border: 1px solid #2196f3;
}

.form__icon {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  translate: 0 -50%;
  fill: currentColor;
}

.form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  resize: none;
  margin-bottom: 20px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border: 3px solid #212121;
  border-radius: 3px;
}
.checkbox__label input:checked + .checkbox {
  background-color: #2196f3;
  border: none;
}

.checkbox__info {
  color: #757575;
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .checkbox__info {
    font-size: 14px;
    line-height: 1.7;
  }
}

.checkbox__link {
  color: #2196f3;
  position: relative;
  text-decoration: none;
}
.checkbox__link::after {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}

.form__btn {
  margin-top: 30px;
  padding: 10px 52px;
}

.about__title, .team__title, .clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .about__title, .team__title, .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.about {
  padding-top: 47px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__list > li:not(:last-child) {
  margin-right: 30px;
}

.about__item {
  position: relative;
}
.about__item p {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  width: 100%;
  padding: 27px 0;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.footer__social__link, .worker__social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social__link:hover, .worker__social__link:hover, .footer__social__link:focus, .worker__social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px), (max-width: 1199px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__address-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer__address-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__logo-span {
  color: #ffffff;
}

.footer__address {
  font-style: normal;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .address__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #ffffff;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer__socials {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    margin-left: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
  }
}

.footer__social__link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__title,
.follow__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer__follow-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__follow-box {
    margin-left: auto;
  }
}

.follow__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .follow__form {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .follow__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.follow__input {
  width: 100%;
  color: #ffffff;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .follow__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .follow__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .follow__input {
    width: 358px;
  }
}
.follow__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow__input:focus {
  border-color: #ffffff;
  outline: none;
}

.follow__btn {
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .follow__btn {
    margin-left: 12px;
  }
}

.follow__icon {
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */