.header{
  font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid $header-border;

}
.header__logo{
  @extend %logo;

  &-span {
    color: $primary-black-color;
  }
}
.main-nav{
  display: flex;
align-items: center;
@media screen and (max-width: 767px) {
  padding-top: 10px;
  padding-bottom: 10px;}

}
.menu-btn{
  display: none;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
  border: none;
  color: $primary-black-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}
.menu-icons{
  width: 40px;
  height: 40px; 
  fill: currentColor;
 
}
.menu-container .menu-btn{
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-container{
  @media screen and (max-width: 767px) { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-white-color;
  padding: 48px 15px 48px 40px;
  display: none;
  &.is-open{
    display: block;
  }
}
display: flex;
align-items: center;
}
.main-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}


.main-nav__item{
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    position: relative;
  &:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
  
}
.main-nav__link {
  display: block;
  color: $primary-black-color;
  transition: color $transition-duration  $timing-function;
  @media screen and (max-width: 767px) {
    font-size: 40px; }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
   }

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.current {
  color: $accent-color;
  &::after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%);
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
  @media screen and (max-width: 767px) {
color: currentColor;  }
}
.header__auth-list {
  display: flex;
  @media screen and (max-width: 767px) {
  flex-direction: column-reverse;
  margin-bottom: 64px;
  position: absolute;
  bottom: 134px;
  }
  @media screen and (min-width: 768px){
    flex-direction: column;
    margin-left: 90px;
  }
  @media screen and (min-width: 1200px){
    flex-direction: row;
    margin-left: 315px;
}
  }

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__phone-icon {
  width: 10px;
  height: 16px;
}
.header__mail-icon {
  width: 16px;
  height: 12px;
}

.header__auth-item .header__link{
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;  }
  color: $primary-text-color;
}
.header__auth-item + .header__auth-item {
  @media screen and (max-width: 767px) {
  margin-bottom: 32px;
  & .header__link{
      font-size: 34px;
  color: $accent-color;
     }
    }
  @media screen and (min-width: 768px){
      margin-top: 10px;
       }
  
  @media screen and (min-width: 1200px){
    margin-top: 0;
      margin-left: 30px;
     }
}
.header__link {
  color: $primary-text-color;
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    transition: color $transition-duration  $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
@media screen and (min-width: 1200px) {
  padding: 32px 0;
}
}



.menu__socials{
  position: absolute;
  bottom: 48px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__socials-item{
  display: flex;
  align-items: center;

&:not(:last-child){
  &::after{
    display: inline-block;
    content: "";
    height: 22px;
    width: 1px;
    background-color: $border-modal;
    margin: 0 10px;
  }
}
}
.menu__socials-link{
font-size: 18px;
line-height: 1.2;
color: $accent-color;
}

