.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    opacity: 1;
    display: flex;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration  $timing-function,
      transform $transition-duration  $timing-function;
  }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    padding: 40px;
    background: $primary-white-color;
    box-shadow: $modal-box-shadow;
    border-radius: 4px;
    transition: transform $transition-duration  $timing-function;
 
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }
 
  @media screen and (min-width: 1200px){
    width: 530px;
  }
}
.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: $primary-black-color;
    background: inherit;
    border: 1px solid $border-close-btn;
    border-radius: 50px;
    cursor: pointer;
    transition: color $transition-duration  $timing-function;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .modal__close-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }
  .modal__title {
    color: $primary-black-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
    @media screen and (min-width: 1200px){
        line-height: 1.15;
      }
  }

  .form__label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color:  $primary-text-color;
  }
  .form__item {
    display: block;
    margin-bottom: 10px;
  }
  .form__field {
    position: relative;
    color: $primary-black-color;
    transition: color $transition-duration  $timing-function;
  
    &:focus-within {
      color: $accent-color;
    }
}
.form__input {
    width: 100%;
    padding: 12px 12px 12px 42px;
    border: 1px solid $border-modal;
    border-radius: 4px;
    transition: border $transition-duration  $timing-function;
  
    .form__field:focus-within &{
      outline: none;
      border: 1px solid  $accent-color;
    }
  }
  .form__icon {
    position: absolute;
    margin-left: 12px;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    translate: 0 -50%;
    fill: currentColor;
  }
  
  
  .form__comment {
    width: 100%;
    height: 120px;
    border: 1px solid $border-modal;
    border-radius: 4px;
    padding: 16px 12px;
    resize: none;
    margin-bottom: 20px;
    transition: border $transition-duration  $timing-function;
  
  
    &:focus {
      outline: none;
      border: 1px solid  $accent-color;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: $placeholder-text-color;
    }
  }
  .checkbox__label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checkbox {
    padding: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 3px solid $primary-black-color;
    border-radius: 3px;
  
  .checkbox__label input:checked + &{
    background-color: $accent-color;
    border: none;
  }
}
  .checkbox__info {
    color: $primary-text-color;
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.17;
    @media screen and (min-width: 1200px) {
       font-size: 14px;
       line-height: 1.7; 
    }
  }
  .checkbox__link {
    color: $accent-color;
    position: relative;
    text-decoration: none;
  
  &::after {
    position: absolute;
    bottom: 1.5px;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $accent-color;
  }
  
}
  .form__btn {
    @extend %btn;
    margin-top: 30px;
    padding: 10px 52px;
  }
  