.portfolio__filter {
    display: flex;
    @media screen and (max-width: 767px){
     flex-wrap: wrap;
     margin-bottom: 40px; 
    width: 400px;
    margin-top: -15px;
      }
    @media screen and (min-width: 768px){
         justify-content: center; 
         margin-bottom: 30px;
      }
    @media screen and (min-width: 1200px){
         margin-bottom: 50px;
      }
  }


  .filter__item{
    @media screen and (max-width: 767px){
margin-top: 15px;
    }
  &:not(:last-child) {
    margin-right: 8px;
  }
}


.portfolio__card-set {
    
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
     }
  }

  .card {
    @media screen and (max-width: 767px){
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 60px)/ 2);
        margin: 15px;

    }
   @media screen and (min-width: 1200px){
       flex-basis: calc((100% - 90px)/ 3);
     }
  }

  
  .card__wrap {
    position: relative;
    overflow: hidden;
  }
  .card__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    color: $primary-white-color;
    background-color: $overlay-bg;
    transform: translateY(100%);
    transition: transform $transition-duration  $timing-function;;
  
    & p {
      font-size: 18px;
      line-height: 1.6;
    }
    .card__link:hover &,
    .card__link:focus & {
      transform: translateY(0%);
    }

    @media screen and (min-width: 768px){
       padding: 49px 24px;
    }
   @media screen and (min-width: 1200px){
       padding: 63px 24px;
     }

  }
 
  
  .card__info {
    padding: 20px 24px;
    border: 1px solid $border-color;
    border-top: none;
  }
  .card__title {
    color: $primary-black-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  .card__desc {
    font-size: 16px;
    line-height: 1.9;
    color: $primary-text-color;
  }
  .card__link {
    box-shadow: none;
    transition: box-shadow $transition-duration  $timing-function;;
    &:hover,
  &:focus {
    display: block;
    box-shadow: $hover-shadow-card;
  }
  }
  