.portfolio__filter {
  display: flex;
  @include max-mobile {
   flex-wrap: wrap;
   margin-bottom: 40px; 
  width: 400px;
  margin-top: -15px;
    }
    @include tablet {
       justify-content: center; 
       margin-bottom: 30px;
    }
    @include desktop {
       margin-bottom: 50px;
    }
}


.filter__item{
  @include max-mobile {
margin-top: 15px;
  }
&:not(:last-child) {
  margin-right: 8px;
}
}

