
  // colors
  $primary-white-color: #ffffff;
  $accent-color: #2196f3;
  $bg-footer-link: rgba(255, 255, 255, 0.1);
  $secondary-dark-bg-color: #2f303a;
  $secondary-light-bg-color: #f5f4fa;
 $shadow-team-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   $icon-grey-color: #afb1b8;
$overlay-bg: rgba(33, 150, 243, 0.9);
   $hidden-hero-bg: #c4c4c4;
   $hover-shadow-card: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   $shadow-filter-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   $backdrop-color: rgba(0, 0, 0, 0.2);
   $modal-box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);

  // border
  $header-border: #ececec;
  $footer-input-border: rgba(255, 255, 255, 0.3);
  $border-color: #eeeeee;
  $border-modal: rgba(33, 33, 33, 0.2);
$border-close-btn: rgba(0, 0, 0, 0.1);
    

  // text
  $primary-black-color: #212121;
  $accent-color: #2196f3;
  $footer-link-color: rgba(255, 255, 255, 0.6);
  $primary-text-color: #757575;
$box-label: rgba(47, 48, 58, 0.8);
$placeholder-text-color: rgba(117, 117, 117, 0.5);
  // button
  $color-active-btn: #188ce8;
  $box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);

// time

$transition-duration: 250ms;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);




